docs/n8n-flows/flow-treatment-plan-abandon-check.json
{
  "name": "Treatment Sequences - Abandon Check (Overdue Steps)",
  "nodes": [
    {
      "parameters": {
        "content": "## Treatment Sequences – Abandon Check\n\n**GET** `/webhook/treatment-plans/sequences/abandon-check`\n\nQuery params:\n- `patient_id` (optional) — filter for one patient\n- `days_overdue` (optional, default 3) — flag steps overdue by at least N days\n- `auto_mark_missed` (optional, default false) — UPDATE overdue steps to milestone_status='alert'\n\n**Response 200:**\n```json\n{\n  \"abandoned\": [\n    {\n      \"sequence_id\": 1,\n      \"patient_id\": \"uuid\",\n      \"patient_name\": \"...\",\n      \"service_name\": \"...\",\n      \"seq_step_id\": 5,\n      \"step_position\": 2,\n      \"missed_step_name\": \"...\",\n      \"missed_days_ago\": 5\n    }\n  ],\n  \"total\": 1\n}\n```\n\n**Logic:**\n- Finds active/paused sequences where treatment_seq_steps has:\n  - milestone_status IN ('waiting', 'pending')\n  - scheduled_date < CURRENT_DATE - days_overdue\n- Groups to earliest overdue step per sequence\n- Optionally auto-marks as milestone_status='alert'",
        "height": 460,
        "width": 520,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 20],
      "typeVersion": 1,
      "id": "ts-abandon-note",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "treatment-plans/sequences/abandon-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "ts-abandon-wh",
      "name": "Webhook",
      "webhookId": "treatment-sequences-abandon-check"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query ?? {};\nconst patientId      = query.patient_id || null;\nconst daysOverdue    = parseInt(query.days_overdue || '3', 10);\nconst autoMarkMissed = query.auto_mark_missed === 'true' || query.auto_mark_missed === true;\nreturn [{ json: { patientId, daysOverdue, autoMarkMissed } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "ts-abandon-parse",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "jsCode": "const { patientId, daysOverdue, autoMarkMissed } = $input.first().json;\n\nconst patientFilter = patientId ? `AND seq.patient_id = '${patientId}'` : '';\n\n// Earliest overdue step per sequence (DISTINCT ON)\nconst querySQL = `\n  SELECT DISTINCT ON (seq.id)\n    seq.id                                        AS sequence_id,\n    seq.patient_id,\n    u.name                                        AS patient_name,\n    sc.name                                       AS service_name,\n    s.id                                          AS seq_step_id,\n    s.step_position,\n    s.step_name                                   AS missed_step_name,\n    (CURRENT_DATE - s.scheduled_date)             AS missed_days_ago\n  FROM treatment_seq_steps s\n  JOIN treatment_sequences seq ON seq.id = s.sequence_id\n  JOIN service_catalog sc      ON sc.id  = seq.service_id\n  JOIN users u                 ON u.id   = seq.patient_id\n  WHERE seq.status IN ('active', 'paused')\n    AND s.milestone_status IN ('waiting', 'pending')\n    AND s.scheduled_date IS NOT NULL\n    AND s.scheduled_date < CURRENT_DATE - INTERVAL '${daysOverdue} days'\n    ${patientFilter}\n  ORDER BY seq.id, s.scheduled_date ASC\n`;\n\n// Auto-mark overdue steps as missed (milestone_status = 'alert')\nconst markMissedSQL = autoMarkMissed ? `\n  UPDATE treatment_seq_steps s\n  SET milestone_status = 'alert', updated_at = NOW()\n  FROM treatment_sequences seq\n  WHERE s.sequence_id = seq.id\n    AND seq.status IN ('active', 'paused')\n    AND s.milestone_status IN ('waiting', 'pending')\n    AND s.scheduled_date IS NOT NULL\n    AND s.scheduled_date < CURRENT_DATE - INTERVAL '${daysOverdue} days'\n    ${patientId ? `AND seq.patient_id = '${patientId}'` : ''};\n` : '';\n\nreturn [{ json: { querySQL, markMissedSQL } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "ts-abandon-build-sql",
      "name": "Build SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.markMissedSQL + $json.querySQL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "id": "ts-abandon-pg-query",
      "name": "Query Overdue Steps",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n// Filter out UPDATE result rows (no sequence_id), keep SELECT rows\nconst abandoned = rows\n  .filter(r => r.json.sequence_id)\n  .map(r => ({\n    sequence_id:      r.json.sequence_id,\n    patient_id:       r.json.patient_id,\n    patient_name:     r.json.patient_name || null,\n    service_name:     r.json.service_name,\n    seq_step_id:      r.json.seq_step_id,\n    step_position:    r.json.step_position,\n    missed_step_name: r.json.missed_step_name,\n    missed_days_ago:  parseInt(r.json.missed_days_ago, 10) || 0,\n  }));\n\nreturn [{ json: { abandoned, total: abandoned.length } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "ts-abandon-build-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300],
      "id": "ts-abandon-respond",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Build SQL", "type": "main", "index": 0 }]] },
    "Build SQL": { "main": [[{ "node": "Query Overdue Steps", "type": "main", "index": 0 }]] },
    "Query Overdue Steps": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["treatment-plans", "clinic"]
}
