docs/n8n-flows/flow-treatment-step-schedule.json
{
  "name": "Treatment Sequences - Step Schedule (Create Appointment for treatment_seq_steps)",
  "nodes": [
    {
      "parameters": {
        "content": "## Treatment Sequences – Step Schedule\n\n**POST** `/webhook/treatment-plans/sequences/schedule`\n\nCreates a calendar `appointments` row for a `treatment_seq_steps` row\nthat has no appointment yet, then links them.\n\n**Request body:**\n```json\n{\n  \"seq_step_id\": 5,\n  \"patient_id\": \"uuid\",\n  \"doctor_id\": \"uuid\",\n  \"doctor_name\": \"Dr. García\",\n  \"scheduled_date\": \"2026-06-01\",\n  \"scheduled_time\": \"09:30\",\n  \"duration_minutes\": 60,\n  \"notes\": \"Optional\",\n  \"google_calendar_id\": \"calendar@group.calendar.google.com\"\n}\n```\n\n**Response 200:**\n```json\n{\n  \"success\": true,\n  \"appointment_id\": \"uuid\",\n  \"step\": { ...updated step with appointment_id, status='scheduled' }\n}\n```\n\n**Flow:**\n1. Parse & validate input\n2. Fetch step — must exist and have no appointment_id yet\n3. Validate + build start/end datetimes from scheduled_date + scheduled_time\n4. Look up calendar_source_id\n5. INSERT appointments row\n6. UPDATE treatment_seq_steps: appointment_id, milestone_status = 'waiting'\n7. Respond",
        "height": 480,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 20],
      "typeVersion": 1,
      "id": "ts-sched-note",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "treatment-plans/sequences/schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "ts-sched-wh",
      "name": "Webhook",
      "webhookId": "treatment-sequences-schedule"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst {\n  seq_step_id, patient_id, doctor_id, doctor_name,\n  scheduled_date, scheduled_time, duration_minutes,\n  notes, google_calendar_id\n} = body;\n\nif (!seq_step_id)    throw new Error('seq_step_id is required');\nif (!patient_id)     throw new Error('patient_id is required');\nif (!doctor_id)      throw new Error('doctor_id is required');\nif (!scheduled_date) throw new Error('scheduled_date is required');\nif (!scheduled_time) throw new Error('scheduled_time is required (HH:mm)');\n\nconst dur = parseInt(duration_minutes, 10);\nif (!dur || dur < 1) throw new Error('duration_minutes must be > 0');\n\n// Validate time format HH:mm\nif (!/^\\d{2}:\\d{2}$/.test(scheduled_time)) throw new Error('scheduled_time must be HH:mm');\n\nreturn [{ json: {\n  seq_step_id:        parseInt(seq_step_id, 10),\n  patient_id,\n  doctor_id,\n  doctor_name:        doctor_name || null,\n  scheduled_date,\n  scheduled_time,\n  duration_minutes:   dur,\n  notes:              notes || null,\n  google_calendar_id: google_calendar_id || null,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "ts-sched-parse",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.id,\n  s.sequence_id,\n  s.step_name,\n  s.step_position,\n  s.appointment_id,\n  seq.service_id\nFROM treatment_seq_steps s\nJOIN treatment_sequences seq ON seq.id = s.sequence_id\nWHERE s.id = {{ $json.seq_step_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "id": "ts-sched-pg-verify",
      "name": "Fetch Step",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (rows.length === 0) throw new Error('treatment_seq_steps row not found');\nconst step = rows[0].json;\nif (step.appointment_id) throw new Error('Step already has a linked appointment');\n\nconst parse = $('Parse Input').first().json;\n\n// Build start datetime from date + time\nconst startDt = `${parse.scheduled_date}T${parse.scheduled_time}:00`;\n\n// Compute end datetime\nconst endDt = (() => {\n  const d = new Date(startDt);\n  d.setMinutes(d.getMinutes() + parse.duration_minutes);\n  return d.toISOString().slice(0, 19);\n})();\n\nconst doctorLabel = parse.doctor_name ? parse.doctor_name : `Doctor ${parse.doctor_id.slice(0, 8)}`;\nconst summary = `Paso ${step.step_position}: ${step.step_name} — ${doctorLabel}`;\n\nconst calendarSourceSQL = parse.google_calendar_id\n  ? `SELECT id AS calendar_source_id FROM calendar_sources WHERE google_calendar_id = '${parse.google_calendar_id}' LIMIT 1`\n  : `SELECT NULL::bigint AS calendar_source_id`;\n\nreturn [{ json: {\n  ...parse,\n  seq_step_id:   step.id,\n  sequence_id:   step.sequence_id,\n  step_name:     step.step_name,\n  step_position: step.step_position,\n  startDt,\n  endDt,\n  summary,\n  calendarSourceSQL,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "ts-sched-validate",
      "name": "Validate + Build Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.calendarSourceSQL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "id": "ts-sched-pg-calendar",
      "name": "Get Calendar Source",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const calRow = $input.all()[0]?.json;\nconst calSourceId = calRow?.calendar_source_id || null;\nconst build = $('Validate + Build Data').first().json;\n\nconst notesVal   = build.notes ? `'${build.notes.replace(/'/g, \"''\")}'` : 'NULL';\nconst summaryVal = `'${build.summary.replace(/'/g, \"''\")}'`;\nconst calVal     = calSourceId ? calSourceId : 'NULL';\n\nconst insertSQL = `\n  INSERT INTO appointments (\n    patient_id, assignee_id, start_datetime, end_datetime,\n    summary, notes, status, treatment_seq_step_id, calendar_source_id\n  ) VALUES (\n    '${build.patient_id}', '${build.doctor_id}',\n    '${build.startDt}', '${build.endDt}',\n    ${summaryVal}, ${notesVal},\n    'scheduled', ${build.seq_step_id}, ${calVal}\n  )\n  RETURNING id::text AS appointment_id\n`;\n\nreturn [{ json: { ...build, calSourceId, insertSQL } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "id": "ts-sched-build-sql",
      "name": "Build Insert SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.insertSQL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 300],
      "id": "ts-sched-pg-insert",
      "name": "Insert Appointment",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE treatment_seq_steps\nSET\n  appointment_id   = '{{ $input.first().json.appointment_id }}',\n  milestone_status = 'waiting',\n  scheduled_date   = '{{ $('Validate + Build Data').first().json.scheduled_date }}'::date,\n  updated_at       = NOW()\nWHERE id = {{ $('Validate + Build Data').first().json.seq_step_id }}\nRETURNING\n  id::text             AS id,\n  sequence_id,\n  step_position        AS step_number,\n  step_name,\n  scheduled_date::text AS scheduled_date,\n  milestone_status,\n  notes,\n  appointment_id::text AS appointment_id,\n  duration_minutes,\n  CASE WHEN milestone_status = 'done' THEN updated_at::text ELSE NULL END AS completed_at",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 300],
      "id": "ts-sched-pg-link",
      "name": "Link Appointment to Step",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().filter(r => r.json.id);\nif (rows.length === 0) throw new Error('Failed to link appointment to step');\nconst r = rows[0].json;\nreturn [{ json: {\n  success: true,\n  appointment_id: r.appointment_id,\n  step: {\n    id: r.id,\n    step_number: r.step_number,\n    step_name: r.step_name,\n    scheduled_date: r.scheduled_date || null,\n    appointment_id: r.appointment_id,\n    status: 'scheduled',\n    notes: r.notes || null,\n    duration_minutes: r.duration_minutes || null,\n    completed_at: null,\n  },\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "id": "ts-sched-build-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 300],
      "id": "ts-sched-respond",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Fetch Step", "type": "main", "index": 0 }]] },
    "Fetch Step": { "main": [[{ "node": "Validate + Build Data", "type": "main", "index": 0 }]] },
    "Validate + Build Data": { "main": [[{ "node": "Get Calendar Source", "type": "main", "index": 0 }]] },
    "Get Calendar Source": { "main": [[{ "node": "Build Insert SQL", "type": "main", "index": 0 }]] },
    "Build Insert SQL": { "main": [[{ "node": "Insert Appointment", "type": "main", "index": 0 }]] },
    "Insert Appointment": { "main": [[{ "node": "Link Appointment to Step", "type": "main", "index": 0 }]] },
    "Link Appointment to Step": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["treatment-plans", "clinic"]
}
