docs/n8n-flows/flow-treatment-step-delete.json
{
  "name": "Treatment Sequences - Step Delete (treatment_seq_steps)",
  "nodes": [
    {
      "parameters": {
        "content": "## Treatment Sequences – Step Delete\n\n**DELETE** `/webhook/treatment-plans/sequences/delete`\n\nDeletes a `treatment_seq_steps` row (hard delete).\nOptionally cancels the linked appointment.\n\n**Request body:**\n```json\n{\n  \"seq_step_id\": 5,\n  \"sequence_id\": 1,\n  \"cancel_appointment\": true,\n  \"cascade_mode\": \"none\",      // none | shift_all\n  \"cascade_days\": -7,           // negative = pull forward\n  \"notify_patient\": false\n}\n```\n\n**Response 200:**\n```json\n{ \"success\": true, \"affected_steps\": [ ...remaining steps ] }\n```\n\n**Flow:**\n1. Validate\n2. Optionally cancel the linked appointment (status='cancelled')\n3. Delete the treatment_seq_steps row\n4. Optionally cascade (shift scheduled_date of subsequent steps)\n5. Auto-complete sequence if all remaining steps are done\n6. Return remaining steps",
        "height": 440,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 20],
      "typeVersion": 1,
      "id": "ts-del-note",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "treatment-plans/sequences/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "ts-del-wh",
      "name": "Webhook",
      "webhookId": "treatment-sequences-delete"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst { seq_step_id, sequence_id, cancel_appointment = false, cascade_mode = 'none', cascade_days = 0, notify_patient = false } = body;\n\nif (!seq_step_id)  throw new Error('seq_step_id is required');\nif (!sequence_id)  throw new Error('sequence_id is required');\n\nconst cascadeDays = parseInt(cascade_days, 10) || 0;\nconst doCascade   = cascade_mode === 'shift_all' && cascadeDays !== 0;\n\nreturn [{ json: {\n  seq_step_id:        parseInt(seq_step_id, 10),\n  sequence_id:        parseInt(sequence_id, 10),\n  cancel_appointment: !!cancel_appointment,\n  cascade_days:       cascadeDays,\n  cascade_mode,\n  doCascade,\n  notify_patient:     !!notify_patient,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "ts-del-parse",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Cancel linked appointment if requested\nDO $$\nDECLARE v_appt_id UUID;\nBEGIN\n  SELECT appointment_id INTO v_appt_id FROM treatment_seq_steps WHERE id = {{ $json.seq_step_id }};\n  IF {{ $json.cancel_appointment }} AND v_appt_id IS NOT NULL THEN\n    UPDATE appointments\n    SET status = 'cancelled', updated_at = NOW()\n    WHERE id = v_appt_id;\n  END IF;\nEND $$;\n\n-- Get step_position before deleting\nSELECT step_position FROM treatment_seq_steps WHERE id = {{ $json.seq_step_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "id": "ts-del-pg-cancel-appt",
      "name": "Cancel Appt + Get Position",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().filter(r => r.json.step_position != null);\nconst step_position = rows.length > 0 ? rows[0].json.step_position : null;\nconst parse = $('Parse Input').first().json;\nreturn [{ json: { ...parse, step_position } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "ts-del-extract-pos",
      "name": "Extract Position"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM treatment_seq_steps\nWHERE id = {{ $json.seq_step_id }}\n  AND sequence_id = {{ $json.sequence_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "id": "ts-del-pg-delete",
      "name": "Delete Step",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "do-cascade", "leftValue": "={{ $('Extract Position').first().json.doCascade }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300],
      "id": "ts-del-if-cascade",
      "name": "Do Cascade?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE treatment_seq_steps\nSET\n  scheduled_date = scheduled_date + INTERVAL '{{ $('Extract Position').first().json.cascade_days }} days',\n  updated_at = NOW()\nWHERE sequence_id = {{ $('Extract Position').first().json.sequence_id }}\n  AND step_position > {{ $('Extract Position').first().json.step_position }}\n  AND milestone_status NOT IN ('done', 'alert')\n  AND scheduled_date IS NOT NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 160],
      "id": "ts-del-pg-cascade",
      "name": "Cascade Steps",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Auto-complete sequence if all remaining steps are done\nUPDATE treatment_sequences\nSET status = 'completed'\nWHERE id = {{ $('Extract Position').first().json.sequence_id }}\n  AND NOT EXISTS (\n    SELECT 1 FROM treatment_seq_steps\n    WHERE sequence_id = {{ $('Extract Position').first().json.sequence_id }}\n      AND milestone_status != 'done'\n  );\n\n-- Fetch remaining steps\nSELECT\n  s.id::text             AS id,\n  s.sequence_id,\n  s.step_position        AS step_number,\n  s.step_name,\n  s.scheduled_date::text AS scheduled_date,\n  s.milestone_status,\n  s.is_lab_pending,\n  s.notes,\n  s.appointment_id::text AS appointment_id,\n  s.duration_minutes,\n  CASE WHEN s.milestone_status = 'done' THEN s.updated_at::text ELSE NULL END AS completed_at\nFROM treatment_seq_steps s\nWHERE s.sequence_id = {{ $('Extract Position').first().json.sequence_id }}\nORDER BY s.step_position",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 300],
      "id": "ts-del-pg-fetch",
      "name": "Fetch Remaining Steps",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().filter(r => r.json.id);\nconst steps = rows.map(r => ({\n  id: r.json.id,\n  step_number: r.json.step_number,\n  step_name: r.json.step_name,\n  scheduled_date: r.json.scheduled_date || null,\n  appointment_id: r.json.appointment_id || null,\n  is_lab_pending: !!r.json.is_lab_pending,\n  status: r.json.milestone_status === 'done'    ? 'completed'\n        : r.json.milestone_status === 'waiting' ? 'scheduled'\n        : r.json.milestone_status === 'alert'   ? 'missed'\n        : 'pending',\n  notes: r.json.notes || null,\n  duration_minutes: r.json.duration_minutes || null,\n  completed_at: r.json.completed_at || null,\n}));\nreturn [{ json: { success: true, affected_steps: steps } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "id": "ts-del-build-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 300],
      "id": "ts-del-respond",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Cancel Appt + Get Position", "type": "main", "index": 0 }]] },
    "Cancel Appt + Get Position": { "main": [[{ "node": "Extract Position", "type": "main", "index": 0 }]] },
    "Extract Position": { "main": [[{ "node": "Delete Step", "type": "main", "index": 0 }]] },
    "Delete Step": { "main": [[{ "node": "Do Cascade?", "type": "main", "index": 0 }]] },
    "Do Cascade?": {
      "main": [
        [{ "node": "Cascade Steps", "type": "main", "index": 0 }],
        [{ "node": "Fetch Remaining Steps", "type": "main", "index": 0 }]
      ]
    },
    "Cascade Steps": { "main": [[{ "node": "Fetch Remaining Steps", "type": "main", "index": 0 }]] },
    "Fetch Remaining Steps": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["treatment-plans", "clinic"]
}
