docs/n8n-flows/flow-reminders-delete.json
{
  "name": "Reminders - Delete",
  "nodes": [
    {
      "parameters": {
        "content": "## Reminders – Delete\n\n**POST** `/webhook/reminders/delete`\n\nDeletes an internal reminder.\n\n**Request body:**\n```json\n{ \"id\": \"reminder-uuid\" }\n```\n\nThis workflow only deletes the `reminders` row. Alert generation/cleanup is intentionally handled by the alert workflows/rules.\n\n**Response 200:**\n```json\n{ \"success\": true, \"code\": 200, \"id\": \"...\" }\n```",
        "height": 420,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        40
      ],
      "typeVersion": 1,
      "id": "reminders-delete-note",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reminders/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        460,
        260
      ],
      "id": "reminders-delete-wh",
      "name": "Webhook",
      "webhookId": "reminders-delete"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst id = String(body.id ?? '').trim();\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(id)) {\n  throw new Error('Valid id is required');\n}\nreturn [{ json: { id } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        260
      ],
      "id": "reminders-delete-parse",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM reminders\nWHERE id = '{{ $json.id }}'::uuid\nRETURNING id::text AS id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        260
      ],
      "id": "reminders-delete-pg",
      "name": "Delete Reminder",
      "credentials": {
        "postgres": {
          "id": "clinic-postgres",
          "name": "Clinic Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json).filter(row => row.id);\nconst parsedId = $('Parse Input').first().json.id;\nreturn [{ json: { success: true, code: 200, id: rows[0]?.id || parsedId } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        260
      ],
      "id": "reminders-delete-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.code }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        260
      ],
      "id": "reminders-delete-respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Delete Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Reminder": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    "reminders",
    "clinic"
  ]
}
