docs/n8n-flows/flow-treatment-step-upsert.json
{
  "name": "Treatment Sequences - Step Upsert (Create/Update treatment_seq_steps)",
  "nodes": [
    {
      "parameters": {
        "content": "## Treatment Sequences – Step Upsert\n\n**POST** `/webhook/treatment-plans/sequences/upsert`\n\nCreates or updates a `treatment_seq_steps` row.\nDoes NOT touch `appointments` — scheduling is done via the `/schedule` endpoint.\n\n**Request body:**\n```json\n{\n  \"seq_step_id\": 5,          // omit to INSERT\n  \"sequence_id\": 1,\n  \"step_position\": 2,\n  \"step_name\": \"Colocación implante\",\n  \"scheduled_date\": \"2026-06-15\",\n  \"duration_minutes\": 90,\n  \"notes\": \"Opcional\",\n  \"is_lab_pending\": false,\n  \"cascade_mode\": \"none\",   // none | shift_all\n  \"cascade_days\": 7\n}\n```\n\n**Response 200:**\n```json\n{ \"success\": true, \"affected_steps\": [ ...all steps for the sequence ] }\n```\n\n**Cascade:** shifts scheduled_date of subsequent non-done steps by cascade_days.\n**Auto-complete:** sets sequence status='completed' when all steps are done.",
        "height": 460,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 20],
      "typeVersion": 1,
      "id": "ts-upsert-note",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "treatment-plans/sequences/upsert",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "ts-upsert-wh",
      "name": "Webhook",
      "webhookId": "treatment-sequences-upsert"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst { seq_step_id, sequence_id, step_position, step_name, scheduled_date, duration_minutes, notes, is_lab_pending = false, cascade_mode = 'none', cascade_days = 0 } = body;\n\nif (!sequence_id)   throw new Error('sequence_id is required');\nif (!step_position) throw new Error('step_position is required');\n\nconst isUpdate = !!seq_step_id;\nif (!isUpdate && !step_name) throw new Error('step_name is required when creating a new step');\n\nconst cascadeDays = parseInt(cascade_days, 10) || 0;\nconst doCascade   = cascade_mode === 'shift_all' && cascadeDays !== 0;\n\nreturn [{ json: {\n  seq_step_id:      seq_step_id ? parseInt(seq_step_id, 10) : null,\n  sequence_id:      parseInt(sequence_id, 10),\n  step_position:    parseInt(step_position, 10),\n  step_name:        step_name || null,\n  scheduled_date:   scheduled_date || null,\n  duration_minutes: duration_minutes ? parseInt(duration_minutes, 10) : null,\n  notes:            notes || null,\n  is_lab_pending:   !!is_lab_pending,\n  cascade_mode,\n  cascade_days:     cascadeDays,\n  doCascade,\n  isUpdate,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "ts-upsert-parse",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "is-update", "leftValue": "={{ $json.isUpdate }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "ts-upsert-if-update",
      "name": "Update or Insert?"
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\nconst nameClause  = p.step_name    ? `, step_name = '${p.step_name.replace(/'/g, \"''\")}'` : '';\nconst dateClause  = p.scheduled_date ? `, scheduled_date = '${p.scheduled_date}'` : '';\nconst durClause   = p.duration_minutes != null ? `, duration_minutes = ${p.duration_minutes}` : '';\nconst notesClause = p.notes != null   ? `, notes = '${p.notes.replace(/'/g, \"''\")}'` : '';\n\nconst updateSQL = `\n  UPDATE treatment_seq_steps\n  SET\n    is_lab_pending = ${p.is_lab_pending}\n    ${nameClause}\n    ${dateClause}\n    ${durClause}\n    ${notesClause},\n    updated_at = NOW()\n  WHERE id = ${p.seq_step_id}\n    AND sequence_id = ${p.sequence_id}\n  RETURNING id\n`;\nreturn [{ json: { ...p, updateSQL } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 160],
      "id": "ts-upsert-build-update",
      "name": "Build Update SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.updateSQL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 160],
      "id": "ts-upsert-pg-update",
      "name": "Update Step",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\nconst dateVal  = p.scheduled_date   ? `'${p.scheduled_date}'`                    : 'NULL';\nconst durVal   = p.duration_minutes  ? p.duration_minutes                          : 'NULL';\nconst notesVal = p.notes             ? `'${p.notes.replace(/'/g, \"''\")}'`         : 'NULL';\n\nconst insertSQL = `\n  INSERT INTO treatment_seq_steps\n    (sequence_id, step_position, step_name, scheduled_date, duration_minutes, notes, is_lab_pending)\n  VALUES\n    (${p.sequence_id}, ${p.step_position}, '${p.step_name.replace(/'/g, \"''\")}',\n     ${dateVal}, ${durVal}, ${notesVal}, ${p.is_lab_pending})\n  RETURNING id\n`;\nreturn [{ json: { ...p, insertSQL } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 440],
      "id": "ts-upsert-build-insert",
      "name": "Build Insert SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.insertSQL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 440],
      "id": "ts-upsert-pg-insert",
      "name": "Insert Step",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "do-cascade", "leftValue": "={{ $('Parse Input').first().json.doCascade }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300],
      "id": "ts-upsert-if-cascade",
      "name": "Do Cascade?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE treatment_seq_steps\nSET\n  scheduled_date = scheduled_date + INTERVAL '{{ $('Parse Input').first().json.cascade_days }} days',\n  updated_at = NOW()\nWHERE sequence_id = {{ $('Parse Input').first().json.sequence_id }}\n  AND step_position > {{ $('Parse Input').first().json.step_position }}\n  AND milestone_status NOT IN ('done', 'alert')\n  AND scheduled_date IS NOT NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 160],
      "id": "ts-upsert-pg-cascade",
      "name": "Cascade Steps",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Auto-complete sequence if all steps are done\nUPDATE treatment_sequences\nSET status = 'completed'\nWHERE id = {{ $('Parse Input').first().json.sequence_id }}\n  AND NOT EXISTS (\n    SELECT 1 FROM treatment_seq_steps\n    WHERE sequence_id = {{ $('Parse Input').first().json.sequence_id }}\n      AND milestone_status != 'done'\n  );\n\n-- Fetch all steps for the sequence\nSELECT\n  s.id::text             AS id,\n  s.sequence_id,\n  s.step_position        AS step_number,\n  s.step_name,\n  s.scheduled_date::text AS scheduled_date,\n  s.milestone_status,\n  s.is_lab_pending,\n  s.notes,\n  s.appointment_id::text AS appointment_id,\n  s.duration_minutes,\n  CASE WHEN s.milestone_status = 'done' THEN s.updated_at::text ELSE NULL END AS completed_at\nFROM treatment_seq_steps s\nWHERE s.sequence_id = {{ $('Parse Input').first().json.sequence_id }}\nORDER BY s.step_position",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 300],
      "id": "ts-upsert-pg-fetch",
      "name": "Fetch All Steps",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().filter(r => r.json.id);\nconst steps = rows.map(r => ({\n  id: r.json.id,\n  step_number: r.json.step_number,\n  step_name: r.json.step_name,\n  scheduled_date: r.json.scheduled_date || null,\n  appointment_id: r.json.appointment_id || null,\n  is_lab_pending: !!r.json.is_lab_pending,\n  status: r.json.milestone_status === 'done'    ? 'completed'\n        : r.json.milestone_status === 'waiting' ? 'scheduled'\n        : r.json.milestone_status === 'alert'   ? 'missed'\n        : 'pending',\n  notes: r.json.notes || null,\n  duration_minutes: r.json.duration_minutes || null,\n  completed_at: r.json.completed_at || null,\n}));\nreturn [{ json: { success: true, affected_steps: steps } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "id": "ts-upsert-build-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 300],
      "id": "ts-upsert-respond",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Update or Insert?", "type": "main", "index": 0 }]] },
    "Update or Insert?": {
      "main": [
        [{ "node": "Build Update SQL", "type": "main", "index": 0 }],
        [{ "node": "Build Insert SQL", "type": "main", "index": 0 }]
      ]
    },
    "Build Update SQL": { "main": [[{ "node": "Update Step", "type": "main", "index": 0 }]] },
    "Update Step": { "main": [[{ "node": "Do Cascade?", "type": "main", "index": 0 }]] },
    "Build Insert SQL": { "main": [[{ "node": "Insert Step", "type": "main", "index": 0 }]] },
    "Insert Step": { "main": [[{ "node": "Do Cascade?", "type": "main", "index": 0 }]] },
    "Do Cascade?": {
      "main": [
        [{ "node": "Cascade Steps", "type": "main", "index": 0 }],
        [{ "node": "Fetch All Steps", "type": "main", "index": 0 }]
      ]
    },
    "Cascade Steps": { "main": [[{ "node": "Fetch All Steps", "type": "main", "index": 0 }]] },
    "Fetch All Steps": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["treatment-plans", "clinic"]
}
