docs/n8n-flows/flow-appointment-update-status.json
{
  "name": "Appointments - Update Status",
  "nodes": [
    {
      "parameters": {
        "content": "## Appointments – Update Status\n\n**POST** `/webhook/appointments/update_status`\n\nUpdates `appointments.status` and inserts an audit row in\n`appointment_status_log`. No transition gating — the user is free\nto move the appointment to any status. No side-effects (no Google\nCalendar / no notifications).\n\n**Allowed status values:**\n- pending, scheduled, confirmed, arrived, in_progress,\n  completed, no_show, cancelled\n\n**No transition restrictions** — any source status can move to any\ntarget status. The only no-op is staying in the same status.\n\n**When status='cancelled', cancellation_reason is required:**\n- late, in_time, no_notice, by_doctor, by_clinic, other\n- 'reschedule' is BLOCKED here (only set by /appointments/reschedule)\n- If reason='other', cancellation_note is required.\n\n**Request body:**\n```json\n{\n  \"appointment_id\": \"abc-123\",\n  \"status\": \"cancelled\",\n  \"cancellation_reason\": \"by_doctor\",  // required if status='cancelled'\n  \"cancellation_note\": \"…\",            // required if reason='other'\n  \"changed_by\": \"user-id\",              // optional\n  \"note\": \"Notas extra para el log\"     // optional, distinto del cancellation_note\n}\n```\n\n**Response 200:**\n```json\n{\n  \"success\": true,\n  \"code\": 200,\n  \"appointment_id\": \"abc-123\",\n  \"from_status\": \"scheduled\",\n  \"status\": \"cancelled\",\n  \"cancellation_reason\": \"by_doctor\"\n}\n```\n\n**Response 409 (no-op):**\n```json\n{ \"error\": true, \"code\": 409, \"message\": \"Appointment is already in status \\\"cancelled\\\"\" }\n```\n\n**Response 400 (validation error):**\n```json\n{ \"error\": true, \"code\": 400, \"message\": \"cancellation_reason is required when status='cancelled'\" }\n```",
        "height": 540,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 20],
      "typeVersion": 1,
      "id": "appt-status-note",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointments/update_status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "appt-status-wh",
      "name": "Webhook",
      "webhookId": "appointments-update-status"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst { appointment_id, status, cancellation_reason, cancellation_note, changed_by, note } = body || {};\n\n// Normalize US/UK spelling and casing.\nconst raw = String(status ?? '').toLowerCase().trim();\nconst normalized = raw === 'canceled' ? 'cancelled' : raw;\n\nconst VALID = ['pending','scheduled','confirmed','arrived','in_progress','completed','no_show','cancelled'];\nconst VALID_REASONS = ['late','in_time','no_notice','by_doctor','by_clinic','other'];\n\nif (!appointment_id) throw new Error('appointment_id is required');\nif (!VALID.includes(normalized)) throw new Error(`Invalid status: ${status}`);\n\n// Cancellation reason validation\nlet reason = cancellation_reason ? String(cancellation_reason).toLowerCase().trim() : null;\nlet cnote = cancellation_note ? String(cancellation_note).trim() : null;\n\nif (normalized === 'cancelled') {\n  if (!reason) throw new Error(\"cancellation_reason is required when status='cancelled'\");\n  if (reason === 'reschedule') throw new Error(\"reason 'reschedule' can only be set by the reschedule endpoint\");\n  if (!VALID_REASONS.includes(reason)) throw new Error(`Invalid cancellation_reason: ${cancellation_reason}`);\n  if (reason === 'other' && (!cnote || cnote.length === 0)) throw new Error(\"cancellation_note is required when cancellation_reason='other'\");\n  if (reason !== 'other') cnote = null;\n} else {\n  // Not cancelled: clear any incoming reason/note to keep the row consistent.\n  reason = null;\n  cnote = null;\n}\n\nreturn [{ json: {\n  appointment_id: String(appointment_id),\n  status: normalized,\n  cancellation_reason: reason,\n  cancellation_note: cnote,\n  changed_by: changed_by ? String(changed_by) : null,\n  note: note ? String(note) : null,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "appt-status-parse",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id::text AS id, status FROM appointments WHERE id::text = '{{ $json.appointment_id }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "id": "appt-status-pg-load",
      "name": "Load Current Appointment",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const loaded = $input.all().filter(r => r.json.id);\nif (loaded.length === 0) {\n  return [{ json: {\n    __error: true,\n    code: 404,\n    message: 'Appointment not found',\n  } }];\n}\n\nconst current = loaded[0].json;\nconst input = $('Parse Input').first().json;\nconst from_status = String(current.status || '').toLowerCase();\nconst to_status = input.status;\n\nif (from_status === to_status) {\n  return [{ json: {\n    __error: true,\n    code: 409,\n    message: `Appointment is already in status \"${to_status}\"`,\n  } }];\n}\n\nreturn [{ json: {\n  appointment_id: input.appointment_id,\n  from_status,\n  to_status,\n  cancellation_reason: input.cancellation_reason,\n  cancellation_note: input.cancellation_note,\n  changed_by: input.changed_by,\n  note: input.note,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "appt-status-check",
      "name": "Check Current Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.__error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "appt-status-if-error",
      "name": "Has Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: $json.code, message: $json.message }) }}",
        "options": { "responseCode": "={{ $json.code }}" }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 180],
      "id": "appt-status-respond-error",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Atomic update + audit insert. Cancellation_reason/note travel together.\nWITH updated AS (\n  UPDATE appointments\n  SET status              = '{{ $json.to_status }}',\n      cancellation_reason = NULLIF('{{ $json.cancellation_reason }}', 'null'),\n      cancellation_note   = NULLIF('{{ $json.cancellation_note }}', 'null'),\n      updated_at          = NOW()\n  WHERE id::text = '{{ $json.appointment_id }}'\n  RETURNING id::text AS id, status, cancellation_reason\n)\nINSERT INTO appointment_status_log (appointment_id, from_status, to_status, cancellation_reason, cancellation_note, changed_by, note)\nSELECT\n  '{{ $json.appointment_id }}',\n  '{{ $json.from_status }}',\n  '{{ $json.to_status }}',\n  NULLIF('{{ $json.cancellation_reason }}', 'null'),\n  NULLIF('{{ $json.cancellation_note }}', 'null'),\n  NULLIF('{{ $json.changed_by }}', 'null'),\n  NULLIF('{{ $json.note }}', 'null')\nFROM updated\nRETURNING appointment_id, from_status, to_status, cancellation_reason, changed_at::text AS changed_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 420],
      "id": "appt-status-pg-update",
      "name": "Apply Update + Log",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().filter(r => r.json.appointment_id);\nif (rows.length === 0) throw new Error('Update failed — no rows returned');\nconst r = rows[0].json;\nreturn [{ json: {\n  success: true,\n  code: 200,\n  appointment_id: r.appointment_id,\n  from_status: r.from_status,\n  status: r.to_status,\n  cancellation_reason: r.cancellation_reason || null,\n  changed_at: r.changed_at,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 420],
      "id": "appt-status-build-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 420],
      "id": "appt-status-respond-ok",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Load Current Appointment", "type": "main", "index": 0 }]] },
    "Load Current Appointment": { "main": [[{ "node": "Check Current Status", "type": "main", "index": 0 }]] },
    "Check Current Status": { "main": [[{ "node": "Has Error?", "type": "main", "index": 0 }]] },
    "Has Error?": {
      "main": [
        [{ "node": "Respond Error", "type": "main", "index": 0 }],
        [{ "node": "Apply Update + Log", "type": "main", "index": 0 }]
      ]
    },
    "Apply Update + Log": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["appointments", "clinic"]
}
