docs/n8n-flows/flow-treatment-step-status.json
{
  "name": "Treatment Step - Change Status (+ Appointment Sync)",
  "nodes": [
    {
      "parameters": {
        "content": "## Treatment Step Status Change\n\n**POST** `/webhook/treatments/step/status`\n\n**Request body:**\n```json\n{\n  \"sequence_id\": \"uuid\",\n  \"step_id\": \"uuid\",\n  \"status\": \"completed\",       // pending | scheduled | completed | cancelled | missed\n  \"sync_appointment\": true,    // also update the linked appointment\n  \"notify_patient\": true\n}\n```\n\n**Response 200:**\n```json\n{\n  \"success\": true,\n  \"step\": { ...updated step },\n  \"sequence_completed\": false  // true if all steps are done\n}\n```\n\n**Status→Appointment mapping:**\n- completed → appointment.status = 'completed', milestone_status = 'done'\n- cancelled → appointment.status = 'cancelled', milestone_status = null\n- missed    → appointment.milestone_status = 'alert' (keep appointment)\n- pending/scheduled → appointment.milestone_status = 'waiting'\n\n**Auto-complete sequence:**\nIf all non-cancelled steps are completed → UPDATE treatment_sequences SET status = 'completed'",
        "height": 400,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 20],
      "typeVersion": 1,
      "id": "ts-status-note-001",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "treatments/step/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "ts-status-wh-001",
      "name": "Webhook",
      "webhookId": "treatments-step-status"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst { sequence_id, step_id, status, sync_appointment = true, notify_patient = false } = body;\n\nconst VALID_STATUSES = ['pending', 'scheduled', 'completed', 'cancelled', 'missed'];\nif (!sequence_id) throw new Error('sequence_id is required');\nif (!step_id) throw new Error('step_id is required');\nif (!VALID_STATUSES.includes(status)) throw new Error(`Invalid status: ${status}`);\n\n// Map step status to appointment/milestone status\nconst apptStatusMap = {\n  completed: { appt_status: 'completed', milestone: 'done' },\n  cancelled: { appt_status: 'cancelled', milestone: null },\n  missed:    { appt_status: null,        milestone: 'alert' },\n  pending:   { appt_status: null,        milestone: 'waiting' },\n  scheduled: { appt_status: null,        milestone: 'waiting' },\n};\nconst mapping = apptStatusMap[status];\n\nreturn [{ json: { sequence_id, step_id, status, sync_appointment: !!sync_appointment, notify_patient: !!notify_patient, mapping } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "ts-status-parse",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "jsCode": "const { sequence_id, step_id, status, sync_appointment, mapping } = $input.first().json;\n\n// Set completed_at for completed status\nconst completedAt = status === 'completed' ? 'NOW()' : 'NULL';\n\n// Update the step\nconst updateStepSQL = `\n  UPDATE treatment_steps\n  SET status = '${status}', completed_at = ${completedAt}, updated_at = NOW()\n  WHERE id = '${step_id}' AND sequence_id = '${sequence_id}'\n  RETURNING id, sequence_id, step_number, step_name, scheduled_date::text, duration_minutes, status, notes, appointment_id, completed_at::text;\n`;\n\n// Sync appointment if needed\nlet syncApptSQL = '';\nif (sync_appointment) {\n  if (mapping.appt_status) {\n    syncApptSQL = `\n      UPDATE appointments\n      SET status = '${mapping.appt_status}', milestone_status = ${mapping.milestone ? `'${mapping.milestone}'` : 'NULL'}\n      WHERE id = (SELECT appointment_id FROM treatment_steps WHERE id = '${step_id}' AND appointment_id IS NOT NULL);\n    `;\n  } else if (mapping.milestone) {\n    syncApptSQL = `\n      UPDATE appointments\n      SET milestone_status = '${mapping.milestone}'\n      WHERE id = (SELECT appointment_id FROM treatment_steps WHERE id = '${step_id}' AND appointment_id IS NOT NULL);\n    `;\n  }\n}\n\n// Check if all non-cancelled steps are completed → auto-complete sequence\nconst autoCompleteSQL = `\n  UPDATE treatment_sequences\n  SET status = 'completed', updated_at = NOW()\n  WHERE id = '${sequence_id}'\n    AND NOT EXISTS (\n      SELECT 1 FROM treatment_steps\n      WHERE sequence_id = '${sequence_id}'\n        AND status NOT IN ('completed', 'cancelled')\n    );\n`;\n\nreturn [{ json: { sequence_id, step_id, status, updateStepSQL, syncApptSQL, autoCompleteSQL } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "ts-status-build-sql",
      "name": "Build SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.updateStepSQL + $json.syncApptSQL + $json.autoCompleteSQL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "id": "ts-status-pg-execute",
      "name": "Execute Updates",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ts.id, ts.sequence_id, ts.step_number, ts.step_name,\n  ts.scheduled_date::text, ts.duration_minutes, ts.status, ts.notes,\n  ts.appointment_id, ts.completed_at::text,\n  seq.status AS sequence_status\nFROM treatment_steps ts\nJOIN treatment_sequences seq ON seq.id = ts.sequence_id\nWHERE ts.id = '{{ $('Parse Input').first().json.step_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "id": "ts-status-pg-fetch",
      "name": "Fetch Updated Step",
      "credentials": { "postgres": { "id": "clinic-postgres", "name": "Clinic Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (rows.length === 0) throw new Error('Step not found after update');\nconst r = rows[0].json;\nreturn [{ json: {\n  success: true,\n  step: {\n    id: r.id,\n    sequence_id: r.sequence_id,\n    step_number: r.step_number,\n    step_name: r.step_name,\n    scheduled_date: r.scheduled_date || null,\n    duration_minutes: r.duration_minutes,\n    status: r.status,\n    notes: r.notes || null,\n    appointment_id: r.appointment_id || null,\n    completed_at: r.completed_at || null,\n  },\n  sequence_completed: r.sequence_status === 'completed',\n} }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "id": "ts-status-build-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300],
      "id": "ts-status-respond",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Build SQL", "type": "main", "index": 0 }]] },
    "Build SQL": { "main": [[{ "node": "Execute Updates", "type": "main", "index": 0 }]] },
    "Execute Updates": { "main": [[{ "node": "Fetch Updated Step", "type": "main", "index": 0 }]] },
    "Fetch Updated Step": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["treatment-plans", "clinic"]
}
