docs/n8n-flows/flow-sticky-notes-upsert.json
{
  "name": "Sticky Notes — Upsert",
  "nodes": [
    {
      "parameters": {
        "content": "## Sticky Notes — Upsert\n\n**POST** `/webhook/sticky-notes/upsert`\n\nCrea o actualiza una nota adhesiva.\n\n**Lógica:**\n- Sin `id` → INSERT\n- Con `id` → UPDATE\n\n**Request body:**\n```json\n{\n  \"id\": \"uuid (opcional)\",\n  \"text\": \"contenido\",\n  \"color\": \"yellow\",\n  \"created_by\": \"uuid (requerido en create)\",\n  \"actions\": [\"CALENDAR\"],\n  \"redirects\": [\"/appointments?act=Crear\"]\n}\n```\n\n**Response 200:** nota completa con todos los campos.",
        "height": 320,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 20],
      "typeVersion": 1,
      "id": "sn-upsert-note",
      "name": "Flow Documentation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sticky-notes/upsert",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "sn-upsert-wh",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst id       = body?.id       ?? null;\nconst text     = (body?.text    ?? '').trim();\nconst color    = body?.color    ?? 'yellow';\nconst createdBy = body?.created_by ?? null;\nconst actions  = Array.isArray(body?.actions)  ? body.actions  : [];\nconst redirects = Array.isArray(body?.redirects) ? body.redirects : [];\n\nif (!text) throw new Error('Campo text es requerido');\nif (!id && !createdBy) throw new Error('Campo created_by es requerido al crear');\n\nreturn [{ json: { id, text, color, created_by: createdBy, actions, redirects, is_new: !id } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "id": "sn-upsert-extract",
      "name": "Extract Body"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.is_new }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [940, 300],
      "id": "sn-upsert-branch",
      "name": "Is New?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sticky_notes (text, color, created_by, status, actions, redirects) VALUES ('{{ $json.text }}', '{{ $json.color }}', '{{ $json.created_by }}'::uuid, 'active', '{{ JSON.stringify($json.actions) }}'::jsonb, '{{ JSON.stringify($json.redirects) }}'::jsonb) RETURNING id, text, color, created_by, created_at, updated_at, status, COALESCE(actions, '[]'::jsonb) AS actions, COALESCE(redirects, '[]'::jsonb) AS redirects",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1180, 180],
      "id": "sn-upsert-insert",
      "name": "INSERT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sticky_notes SET text = '{{ $json.text }}', color = '{{ $json.color }}', updated_at = NOW(), actions = '{{ JSON.stringify($json.actions) }}'::jsonb, redirects = '{{ JSON.stringify($json.redirects) }}'::jsonb WHERE id = '{{ $json.id }}'::uuid RETURNING id, text, color, created_by, created_at, updated_at, status, COALESCE(actions, '[]'::jsonb) AS actions, COALESCE(redirects, '[]'::jsonb) AS redirects",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1180, 420],
      "id": "sn-upsert-update",
      "name": "UPDATE"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1420, 300],
      "id": "sn-upsert-respond",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook":      { "main": [[{ "node": "Extract Body", "type": "main", "index": 0 }]] },
    "Extract Body": { "main": [[{ "node": "Is New?",      "type": "main", "index": 0 }]] },
    "Is New?": {
      "main": [
        [{ "node": "INSERT",      "type": "main", "index": 0 }],
        [{ "node": "UPDATE",      "type": "main", "index": 0 }]
      ]
    },
    "INSERT": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "UPDATE": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": ["sticky-notes", "clinic"]
}
